* {
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body,
#app {
  font-family: "Segoe UI", Tahoma, sans-serif, Verdana;
  line-height: 1.4;
}

#app {
  text-align: justify;
  padding: 64px 32px;
}

img {
  line-height: 1;
  display: block;
}

button {
  border: none;
  outline-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 1rem;
}

:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: 0 !important;
}

ul,
ol {
  display: block;
  padding: 0 0 0 20px;
}

p {
  margin: 1em 0;
  display: block;
  background-color: transparent;
}

