* {
  box-sizing: border-box;
  font-family: inherit;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body, #app {
  font-family: 'Segoe UI', Tahoma, sans-serif, Verdana;
  line-height: 1.4;
}

#app {
  text-align: justify;
  padding: 32px;
	min-height: 100vh;
}

img {
  line-height: 1;
  display: block;
}

button {
  border: none;
  outline-style: none;
  user-select: none;
  cursor: pointer;
  font-size: 1rem;
}

:focus {outline: none !important}
::-moz-focus-inner {border:0 !important}

ul, ol {
  display: block;
  padding: 0 0 0 20px;
}

li, ul > * {
	text-align: left;
}

p {
  margin: 1em 0;
  display: block;
  background-color: transparent
}

svg, table {
	display: block;
	margin: 0 auto;
}

#app table {
	width: fit-content;
}

#app .md-body {
	margin: 0 auto;
	max-width: 800px;
}
