@import 'normalize';

#sidebar-content {
	position: fixed;
	height: 100vh;
	background: #fff;
	z-index: 150;
	top: 0;
	overflow: auto;
	width: 320px;
	right: -320px;
	transition:  right .3s ease-in;
	border: 1px solid #ccc;
}

#sidebar-content.opened {
	right: 0;
}

#sidebar-btn-open {
	position: fixed;
	top: 0;
	right: 0;
	padding: 6px 12px;
	font-size: 40px;
	background: #fff;
	z-index: 100;
	border: 1px solid #ccc;
	border-radius: 6px;
}

#sidebar-btn-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	width: 60px;
	background: #eee;
	&:hover {
		background: #aaa;
	}
}
#sidebar-btn-home {
	font-size: 1.3rem;	
}

#sidebar, #sidebar * {
	@media print {
		display: none;
	}
}

#sidebar a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

#sidebar .pages-menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li a {
		border-top: 1px solid #ccc;
	}
}

#sidebar-search {
	margin: 16px 8px;
}

.field-input {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 1rem;
	color: #000;
	display: block;
	padding: 8px;
	width: 100%;
	&:focus {
		border-color: #66afe9;
	  outline: 0;
	}
}
